<div>
  <div>
    <h1>
      List of all bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

    <form action="/insert_bookmark" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="integer_box">
          Integer
        </label>

        <input type="text" id="integer_box" name="query_integer">
      </div>

      <div>
        <label for="listing_id_box">
          Listing
        </label>

        <input type="text" id="listing_id_box" name="query_listing_id">
      </div>

      <button>
        Create bookmark
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Listing
        </th>

        <th>
          Seller Name
        </th>

        <th>
          Status
        </th>
          
        <th>
        Details
        </th>

        <th>
        Delete
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>
        <td>
          <%= a_bookmark.listing.name %>
        </td>

        <td>
          <%= a_bookmark.listing.seller.username%> 
        </td>
        <td>
          <%= a_bookmark.listing.status %> 
        </td>

        <td>
          <a class="btn btn-info" href="/bookmarks/<%= a_bookmark.id %>">
            Show details
          </a>
        </td>
        <td>
         <a class= "btn btn-secondary" href="/delete_bookmark/<%= a_bookmark.id %>">
          Un-bookmark
          </a>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
