<h1><%= @user.username %></h1>

<dl>
  <dt>ID</dt>
  <dd><%= @user.id %></dd>


  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @user.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own listings (<%= @user.own_listings.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Item
    </th>

    <th>
      Owner
    </th>

    <th>
      Description
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>

  <% @user.own_listings.each do |listing| %>
  <tr>
    <td>
      <div class = "banner">
      <img src="<%= listing.image %>"class = "banner-image">
    </td>

    <td>
      <%= listing.seller.username %>
    </td>

    <td>
      <%= listing.description %>
    </td>

    <td>
      <%= listing.created_at %>
    </td>
    
    <td>
      <a class="btn btn-info" href="/listings/<%= listing.id %>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
</table>
